<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Evaluate a news article with Natural Language Processing</title>
  </head>
  <body>
    <body>
      <header>
        <div class="">Logo</div>
        <div class="">navigation</div>
      </header>

      <main>
        <section>
          <form class="" onsubmit="return handleSubmit(event)">
            <input
              id="name"
              type="text"
              name="input"
              value=""
              placeholder="Name"
            />
            <input
              type="submit"
              name=""
              value="submit"
              onclick="return handleSubmit(event)"
              onsubmit="return handleSubmit(event)"
            />
          </form>
        </section>

        <section>
          <strong>Form Results:</strong>
          <div id="results"></div>
        </section>
      </main>

      <footer>
        <p>This is a footer</p>
      </footer>
    </body>
  </body>
</html>
