/* ==========================================================================
   #GRID
   ========================================================================== */
.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.row-space {
  justify-content: space-between;
}

.row-refine {
  margin: 0 -15px;
}

.col-2 {
  width: calc((100% - 20px) / 2);
}

@media (max-width: 767px) {
  .col-2 {
    width: 100%;
  }
}
